*
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased
h1,h2,h3,h4,h5,h6
  font-weight: 400
  margin: 0
h1
  font-family: 'Homestead Inline'
body
  overflow-x: hidden;
  background-image: url(../img/bg-tile.jpg)
  font-family: 'Homestead'
  font-size: 16px
  @media (max-width: 700px)
    font-size: 70%
  .container
    min-height: 100vh
    text-align: center
    color: $white
    display: flex
    flex-direction: column
    justify-content: space-around
    .logo
      width: 95%
      max-width: 400px
      margin: 3em auto
      img
        width: 100%
    .strip
      background-color: $bg-strip
      padding: 2em 1em
      h1
        font-size: 3em
      h2
        font-size: 1.8em
        letter-spacing: 10px
        margin-bottom: 1.3em
      p
        font-size: 1.3em
        letter-spacing: 1px
        font-weight: 100
        margin: 0.25em 0
      .button-container
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        @media (max-width: 600px)
          flex-wrap: wrap
        a
          display: block
          width: 100%
          max-width: 400px
          margin: 0 1em 1.5em
          font-size: 1.3em
          letter-spacing: 3px
          color: $white
          padding: 0.75em
          text-decoration: none
          border-radius: 3px
          transition: all 200ms ease-in-out 
        .register-button
          background-color: $blue
          border-bottom: 8px solid darken($blue, 20%)
          &:hover
            background-color: darken($blue, 12%)
            border-bottom: 8px solid darken($blue, 25%)
        .raffle-button
          background-color: $green
          border-bottom: 8px solid darken($green, 20%)
          &:hover
            background-color: darken($green, 12%)
            border-bottom: 8px solid darken($green, 25%)
    .social 
      margin: 3em auto
      font-size: 0.9em
      .social-wrap
        width: 95%
        max-width: 300px
        margin: 1em auto 0
        display: flex 
        justify-content: space-around
        a
          color: rgba($white, 0.9)
          font-size: 3.5em
          transition: 300ms ease-in-out
        .facebook:hover
          color: #3b5998
        .twitter:hover
          color: #0084b4
        .instagram:hover
          color: #125688
