#raffle
  .strip
    h2
      font-size: 1.5em
      margin: 0.75em 0
      letter-spacing: 10px
    #raffle-form
      width: 80%
      margin: 1em auto
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      #name, #email
        width: 48%
      #answer
        width: 100%
        padding: 1em
        font-size: 1.2em
      #submit
        width: 50%
        font-size: 1.1em
        letter-spacing: 5px
        padding: 1em
        background-color: $blue
        margin: 0.75em auto
      input
        color: $white
        background-color: $bg
        border: 2px solid rgba($white, 0.3)
        border-radius: 4px
        padding: 0.5em 1em
        margin: 0.5em 0
