@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');

@font-face {
  font-family: 'Homestead Display';
  src: url('fonts/homestead-display-webfont.eot');
  src: url('fonts/homestead-display-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/homestead-display-webfont.woff2') format('woff2'),
       url('fonts/homestead-display-webfont.woff') format('woff'),
       url('fonts/homestead-display-webfont.ttf') format('truetype'),
       url('fonts/homestead-display-webfont.svg#homestead_displaydisplay') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Homestead Inline';
  src: url('fonts/homestead-inline-webfont.eot');
  src: url('fonts/homestead-inline-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/homestead-inline-webfont.woff2') format('woff2'),
       url('fonts/homestead-inline-webfont.woff') format('woff'),
       url('fonts/homestead-inline-webfont.ttf') format('truetype'),
       url('fonts/homestead-inline-webfont.svg#homestead_inlineinline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Homestead';
  src: url('fonts/homestead-regular-webfont.eot');
  src: url('fonts/homestead-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/homestead-regular-webfont.woff2') format('woff2'),
       url('fonts/homestead-regular-webfont.woff') format('woff'),
       url('fonts/homestead-regular-webfont.ttf') format('truetype'),
       url('fonts/homestead-regular-webfont.svg#homestead_regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
